<div class="header">
    <div class="tabs">
        <a href="/" class="tab">My Notes</a>
        <a href="writeNote.html" class="tab">Write note</a>
    </div>
    <a href="/">
        <img src="/static/Images/logo-myNotes.png" alt="Logo" class="logo">
    </a>
    <div class="tabs">
        <a href="changeNote.html" class="tab">Change note</a>
        {% if session.get('logged') %}
        <a href="/logout/" class="tab note">Log out</a>
        {% else %}
        <a href="/login/" class="tab note">Log in</a>
        {% endif %}
    </div>
</div>