<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My notes</title>

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="icon" type="image/x-icon" href="/static/Images/favicon.ico">

</head>

<body class="myNotes-body">

    {% include 'header.html' %}

    <div class="container-for-all-notes">
        <header>
            <h1>My Notes</h1>
        </header>
        <form action="/" method="get">
            <section class="filter-section">
                <input type="text" id="search" placeholder="Search by name..." name="title" required>
                <input type="date" id="date-filter" name="date" required>
                <input type="submit" value="Submit">
            </section>
        </form>
        <section class="notes-section">
            {% for note in notes %}
            <div class="note">
                <h2>{{note.title}}</h2>
                <p>Created: {{note.created_at}}</p>
                <p>Modified: {{note.modified_at}}</p>
                <p>{{note.get('content')[:80]}}{% if note.get('content')|length > 80 %}...{% endif %}</p>
                <button class="btn-openNote" onclick="showNote('{{note.id}}')">Open note</button>
            </div>
            {% endfor %}
        </section>
    </div>

    <div id="noteModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modalTitle"></h2>
            <p id="modalCreated">Created at: </p>
            <p id="modalModified">Modified at: </p>
            <p id="modalTags">Tags: </p>
            <p id="modalContent"></p>
            <a class="btn-forNote" id="update" href="/">Change note</a>
            <a class="btn-forNote" id="delete" href="/">Delete note</a>
        </div>
    </div>

    <script src="/static/js/main.js"></script>

</body>

</html>